<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Buttons</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
     <div class="row" id="mar" style="padding: 10px;">
     <!-- Empty column to center buttons -->
     
     <div class="col-lg-1"></div>
      <div class="col-lg-3" style="padding-left: 100px;">
        <div class="row">
          <div class="col-lg-12"  style="padding: 100px;"></div>
        </div>
        <div class="row" style="padding: 10px;">
        <button type="button" class="btn btn-info" routerLink="/add_item" >Add - Item</button>
      </div>
      <div class="row" style="padding: 10px;">
        <button type="button" class="btn btn-info" routerLink="/update_item">Update-Item</button>
      </div>
      
      <div class="row" style="padding: 10px;">

      <button type="button" class="btn btn-info" routerLink="/add_item">Employees list</button>
    </div>
    <div class="row" style="padding: 10px;">
      <button type="button" class="btn btn-info" routerLink="/add_nonvegItems">Add_NonVegItems</button>
    </div>
    <div class="row" style="padding: 10px;">
      <button type="button" class="btn btn-info" routerLink="/add_icecreams">Add_Icecreams</button>
    </div>
    </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12"  style="padding: 100px;"></div>
        </div>
        <div class="row" style="padding: 10px;">
        <button type="button" class="btn btn-info" routerLink="/add_item" >Orders</button>
      </div>
      <div class="row" style="padding: 10px;">
        <button type="button" class="btn btn-info" routerLink="/add_vegitems">Add-vegitmes</button>
      </div>
      
      <div class="row" style="padding: 10px;">

      <button type="button" class="btn btn-info" routerLink="/add_milkshakes">Add-Milkshakes</button>
    </div>
    <div class="row" style="padding: 10px;">
      <button type="button" class="btn btn-info" routerLink="/add_soups">Add-Soups</button>
    </div>
    <div class="row" style="padding: 10px;">
      <button type="button" class="btn btn-info" routerLink="/add_tiffins">Add-Tiffins</button>
    </div>
      </div>
      
      <div class="col-lg-5"></div> 
     
   
  </div>
  

</body>
</html>



<!--<button type="button" class="btn btn-info" routerLink="/add_item">Add-Item 2</button>
  <div class="row">
      <div class="col-lg-1"></div> <!-- Empty column to center buttons 
      <div class="col-lg-4">
        <div class="row">
        <button type="button" class="btn btn-info" routerLink="/add_item">Add-Item 1</button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-info" routerLink="/add_item">Add-Item 2</button>
      </div>
    </div>
      <div class="col-lg-2">
       
      </div>
      <div class="col-lg-4">
        <div class="row">

        <button type="button" class="btn btn-info" routerLink="/add_item">Add-Item 2</button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-info" routerLink="/add_item">Add-Item 3</button>
      </div>
      </div>
      
      <div class="col-lg-1"></div> 
    </div>-->