
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<body>
    <div class="container">
        
        <table class="table-light" >
            <thead>
                <tr>
                    <th>Item Image</th>
                    <th>Item Name</th>
                    <th>Quanity</th>
                    <th>Price</th>
                    <th>Discount</th>
                   <th>Payable Amount</th>
                   <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of arr1" >
                    <td><img [src]="'data:image/png/JPG;base64,'+data.item_image" alt="Item Image"></td>
                    <td>{{data.item_name}}</td>
                    <td class="quantity-buttons">
                        <button (click)="increaseQuantity(data.id,data.quantity)">+</button>
                         {{data.quantity}}
                        <button (click)="decreaseQuantity(data.id,data.quantity)">-</button>
                       
                    </td>
                    <td> {{data.actual_price}} rs</td>
                     <td>{{data.dicount}}%</td>
                     <td>{{data.paybleamount}} rs</td>
                    <td><i class="fa-solid fa-trash" (click)="DeleteCartItem(data.id)"></i></td>

                </tr>
            </tbody>
           
        </table>
        
        <p style="text-align: center;padding-top: 4%;">Total Amount: {{ totalAmount }} rs
            <button (click)="pay()" class="btn btn-primary" style="padding-left: 3%;">Pay Now</button></p>
      
        
        
        </div>
          
    
</body>