<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/186f6f5ff2.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Fieldset</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS */
    .centered-fieldset {
      margin: auto; /* Center horizontally */
      width: 75%; /* Set width */
      padding: 20px; /* Add padding */
      background-color: aqua; /* Set background color */
      border: none; /* Remove default border */
    }
  </style>
</head>
<body>
    <div class="row">
        <p style="color: white;padding-left: 10px;"  >mobile-no :7995831247</p>
    </div>
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-lg-6" style="margin-top: 200px;">
        <fieldset class="centered-fieldset" style="background-color: beige;">
          <!-- Your form content goes here -->
         
          <form [formGroup]="agroup" style="text-align: center;" (ngSubmit)="formsubmit()" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Item Name" formControlName="Item_name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Item Price" formControlName="actual_price">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Item Quantity" formControlName="Quantity">
            </div>
            <div class="form-group">
                <input type="file" class="form-control" placeholder="Item Image" formControlName="images" accept="image/jpeg, image/png, image/gif"(change)="onFileSelected($event)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Item Discount" formControlName="Discount">
            </div>
            <div class="form-group">
             
              <select id="categorySelect" class="form-control" formControlName="category" placeholder="Category">
                <option value="Special Items">Special Items</option>
                <option value="Milk Shakes">Milk Shakes</option>
                <option value="VegItems">VegItems</option>
                <option value="Non VegItem">Non VegItem</option>
                <option value="Icecreams">Icecreams</option>
                <option value="Tiffin">Tiffin</option>
                <option value="Soups">Soups</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            
            <div class="form-group">
                <button class="btn btn-info">Submit</button>
              </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <div class="row">
            <div class="col-lg-1">
    <div class="row">      
    <span  class="fa fa-instagram"><a href="https://www.instagram.com/_whoisdi?igsh=eXM0bmFpdGU1aTRi">Instagram</a></span>
</div>  
</div>
<div class="col-lg-1">
    <div class="row">      
    <span><i class="fa fa-youtube"></i><a href=" ">Youtube</a></span>
</div>  
</div>
</div>
  </div>
</div>
</body>
</html>
