<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Glowing Inputs Login Form UI</title>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
    <body>
      <div class="login-form">
         <div class="text">
            LOGIN
         </div>
         <form [formGroup]="aFormGroup"(ngSubmit)="logsubmit()">
            <div class="field">
                <div class="fas fa-envelope"></div>
                <input type="text" placeholder="username" formControlName="username">
             </div>
            <div class="field">
               <div class="fas fa-envelope"></div>
               <input type="text" placeholder="Email" formControlName="Email">
            </div>
            <div class="field">
               <div class="fas fa-lock"></div>
               <input type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="field">
              
                <!--<ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
        formControlName="recaptcha">
 
              </ngx-recaptcha2>-->

            </div>
            <button>LOGIN</button>
           
         </form>
      </div>
    </body>
</html>

