



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
</head>

<body>
    <div class="container py-5">
        <label style="color: rgb(0, 255, 115);" *ngIf="success" class="pop">Added to cart Successfully</label>
        <h1 class="text-center">Non vegItems</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 py-5">
           
            <div class="col" *ngFor="let data of arr1">
                <div class="card" style="width:16rem;height:18rem;">
                    <div class="image-container">
                     <img class="home-page-item-image" [src]="'data:image/png/JPG;base64,'+data.item_image" alt="Item Image"></div>
                    <div class="card-body" style="max-height: 200px; overflow: hidden;">
                      <h5>{{data.item_name}}</h5>
                    </div>
                    <div class="card-body" style="max-height: 200px; overflow: hidden;">
                        <p>{{data.item_description}}</p>
                      </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3> Rs {{ data.actual_price}}</h3>
                        <button class="btn btn-warning" style="border-radius: 10px;" (click)="Addtocart(data.item_name)">Add to Cart</button>
                        <label style="color: red;" *ngIf="successs">Added</label>
                    </div>
                </div>
            </div>
           

        
        </div>
    </div>
   
</body>

</html>